@import "./_app.scss";
@import "./_form.scss";

body {
  height: 100vh;
}
body {
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: Verdana, Helvetica, Arial;
}

#page-container {
  height: 100%;
}

button.logout {
  position: absolute;
  top: 10px;
  right: 5px;
  font-family: Arial;
  background: #333;
  color: white;
  border: 0;
  outline: none;
  height: 40px;
  padding: 0 15px;
  z-index: 2;
  cursor: pointer;
}
